$accentColor: #A445ED;
$secondaryColor: #757575;
$dangerColor: #FF5252;
$tertiaryColor: #2D2D2D;

$light-primaryBg: #FFFFFF;
$light-secondaryBg: #F4F4F4;
$light-tertiaryBg: #E9E9E9;

$dark-primaryBg: #050505;
$dark-secondaryBg: #1F1F1F;
$dark-primaryText: #FFFFFF;


$heading-lg: 60px;
$heading-md: 29px;
$heading-sm: 24px;
$heading-xs: 17px;

//spacing
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;