.view-invoice {
  gap: 30px;

  .go-back {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 5px;

    &:hover {
      color: var(--text-go-back);
    }
  }

  .invoice__details-wrapper,
  .invoice__notice-wrapper {
    padding: 40px;
  }

  .invoice__status-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    .status {
      color: var(--text-status);
    }
  }

  .invoice__button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 12px 20px;
    }
  }

  .invoice__details-wrapper {
    flex-direction: column;

    .address {
      color: var(--text-tertiary);
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .invoice-title {
      color: var(--text-tertiary);
      margin-bottom: 10px;
    }

    .invoice__details__sender-address__wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .invoice__details-description {
        span {
          color: var(--text-hash);
        }
      }

      .invoice__details__sender-address {
        text-align: right;
      }
    }

    .invoice__details__recipient-details {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & > div {
        flex: 1;

        h3 {
          margin-bottom: 10px;
        }
      }

      .invoice__details-date {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
      }
    }

    .invoice__details-receipt {
      width: 100%;
      background: var(--bg-accent);
      box-shadow: none;
      padding: 0;
      flex-direction: column;
      overflow: hidden;

      .invoice__details-receipt__details {
        box-shadow: none;
        width: 100%;
        background: transparent;
        padding: 40px;

        table {
          width: 100%;
          gap: 20px;
          border-collapse: collapse;

          thead {
            color: var(--text-tertiary);

            .table__title-quantity {
              text-align: center;
            }

            .table__title-price,
            .table__title-total {
              text-align: right;
            }
          }

          tbody {
            td {
              padding-top: 30px;
            }
            .table__quantity {
              color: var(--text-tertiary);
              text-align: center;
            }

            .table__price {
              color: var(--text-tertiary);
              text-align: right;
            }

            .table__total {
              text-align: right;
            }
          }
        }
      }

      .invoice__details-receipt__amount-due {
        box-shadow: none;
        width: 100%;
        padding: 40px;
        background: var(--bg-muted);
        border-radius: 0;
        color: var(--text-white);
      }
    }
  }
}
