.plan {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .card {
      border: solid 1px var(--grey);
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 200px;
      min-height: 250px;
      cursor: pointer;

      input:checked + .active {
        border-color: var(--blue);
      }

      img {
        width: 70px;
      }

      .card__plan {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .card__plan-name {
          color: var(--demin);
          font-weight: 700;
          font-size: 1.2rem;
        }

        .card__plan-price {
          color: var(--grey);
        }

        .card__plan-free-trial {
          color: var(--demin);
          font-size: 0.9rem;
        }
      }
    }
  }
}
