.wrapper {
  width: 800px;
}

.light {
  background: #fff;
  background-image: url("/assets/pattern-background-desktop-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
}

.light button {
  color: black;
}

.dark {
  background: #121212;
  background-image: url("/assets/pattern-background-desktop-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.dark button {
  color: white;
}
