:root {
    --red: #ee5454;
    --green: #26D782;
    --dark-navy: #313E51;
    --navy: #3B4D66;
    --gray-navy: #626C7F;
    --purple: #A729F5;
    --light-bluish: #ABC1E1;
    --light-gray: #F4F6FA;
    --pure-white: #FFFFFF;
}

.wrapper {
    width: 800px;
    background: red;
}

.light {
    background: var(--light-gray);
    background-image: url("/assets/pattern-background-desktop-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--dark-navy);
}

.light button {
    color: var(--dark-navy);
    background: var(--pure-white);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.17);
}

.dark {
    background: var(--dark-navy);
    background-image: url("/assets/pattern-background-desktop-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--pure-white);
}

.dark button {
    color: var(--pure-white);
}
