.progressbar__input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    border-radius: 15px;
    background: #fff;

}

.progressbar__input::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 5px;
}

.progressbar__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

